/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f7f6;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 2.5rem;
  color: #333;
}

/* Search Bar Styles */
form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  width: 300px;
  padding: 12px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

input:focus {
  outline: none;
  border-color: #2a9d8f;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
  padding: 12px 20px;
  background-color: #2a9d8f;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #21867a;
}

/* Map Styles */
#map {
  height: 500px;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

/* For Mobile Responsiveness */
@media screen and (max-width: 600px) {
  input {
    width: 70%;
  }

  button {
    width: auto;
    padding: 10px 15px;
  }
}
